@charset "utf-8";
@import "normalize";

body {
  background: #fff;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.logo img {
  height: 1.2em;
  margin-top: 2em;
}

h1 {
  color: #3B4750;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  font-weight:bolder;
  margin: 0;
}

.doc {
  margin: 0.5em 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
.section_headline_aboutIntro {
    color: rgba(0,0,0,0.7);
    margin: 40px;
}
div.headline {
    display: block;
    position: fixed;
    margin-left: 30px;
    width: 100%;
    max-width: 1680px;
    padding-left: 0;
    padding-right: 0;
    color: #fff;
    margin-bottom: 40px;
    background-color: rgba(0,0,0,0.1);
}

div.top {
    margin: 0;
    display: block;
    position:auto;
    background: no-repeat center;
    background-size: 100%;
    background-image: url('../images/land2.jpg');
    color: #fff;
    width: 100%;
    height: 500px;
    line-height: 28px;
    z-index: 9;
}

#left_logo {
    float:left;
    position: fixed;
    width:88px;
    height: 48px;
    margin-left: 0px;
}
#header {
    margin: 0 auto;
    width: 100%;
    height: 48px;
    padding: 0 0 0 0px;
    box-sizing: content-box;
    position: relative;
    background-color: rgba(0,0,0,0.6);
}
div.header_buttons {
    display: block;
    position: fixed;
    top: 0px;
    right: 98px;
    height: 40px;
    font-size: 11;
    line-height: 40px;
}
div.projects {
    position: auto;
    background-color: rgba(0,0,0,0.01);
    top: 0px;
    right: 98px;
    height: 400px;
    font-size: 11;
    line-height: 20px;
}
.navigation {
    float: right;
    margin: 0;
    a {
      display:inline-block;
      width: 88px;
      height: 20px;
      font-weight: bold;
      padding: 0.15em 0.7em 1.3em 0.7em;
      color: #C0A062;
      text-align: center;
      text-decoration: none;
      transition: color 0.1s linear;
      &:hover {
        background: rgba(0,0,0,0.01);
        color: rgba(0,0,0,0.8);
        font-weight: bolder;
        transition: all 0.15s linear;
      }
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline;
    }
}
