%footer.footer
  .row
    .small-12.medium-6.large-5.columns
      %p.logo
        %i.fi-shield
        YAN ZHANG
      %p.footer-links
        %a{:href => "#"} Home
        %a{:href => "/about.html"} About
        %a{:href => "/project.html"} Project
      %p.copywrite Copywrite not copywrite © 2016
    .small-12.medium-6.large-4.columns
      %ul.contact
        %li
          %p
            %i.fi-marker>
            The most windy place, Gothenburg, Sweden
        %li
          %p
            %i.fi-mail>
            emma2740@yahoo.com
    .small-12.medium-12.large-3.columns
      %p.about About Yan Zhang
      %p.about.subheader You can always find me beside a Mac.
      %ul.inline-list.social
        %a{:href => "https://www.facebook.com/flamesoft/"}
          %i.fi-social-facebook
        %a{:href => "https://twitter.com/FlameSoftAB"}
          %i.fi-social-twitter
        %a{:href => "https://se.linkedin.com/in/yanzhangflamesoft"}
          %i.fi-social-linkedin
        %a{:href => "https://github.com/flamesoft/"}
          %i.fi-social-github
