
%section
  %h2 About me
  .row
    .large-8.columns
    - data.me.each do |line|
      .row
        %h3= line.type
        %p= line.line
%section
  %h2 Programming Experience
  .row
    .large-8.columns
    - data.coding.each do |line|
      .row
        %h3= line.type
        %p= line.line
