%nav.navigation
  %div.header_buttons
    %ul
      %li= link_to 'About', 'https://middlemanapp.com', target:'_self'
      %li= link_to 'My Project', 'https://middlemanapp.com', target:'_self'
.top
  %h1.section_headline_aboutIntro Yan Zhang
  %h2 A mobile app developer
  %h2 Develop both iOS and Android native apps
  %h2 Working with software development since 2000
  %p.doc As a developer
  %p.doc So that I can help you or your company with my experience
  %p.doc I made the website to make you know more about me

.projects
  - data.projects.each do |project|
    %h4= project[:name]
    %p= project[:description]
