%section.top
  #home
    %h1.section_headline_aboutIntro Yan Zhang
    %h2.section_h2_aboutIntro A mobile app developer
    %h2.section_h2_aboutIntro Working with software development since 2000
    %p.intro I would like to help you with my experience
    %p.intro So I made the website to make you know more about me
    %p.intro= today
%section
  %h2 Something About Me
  = partial 'partials/features'
